<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>simplecode</title>
    <link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="{% static 'home/assets/css/FontAwesome.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/--mp---Multiple-items-slider-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/4-Col-Small-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/404-NOT-FOUND-animated.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Accordion-3338arvorept-1.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Accordion-3338arvorept.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Accordion.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/best-carousel-slide-1.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Brands.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/circle-progress-bar.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Features-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Header-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Highlight-Phone.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'home/assets/css/Lightbox-Gallery.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Ludens-Users---1-Login.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Ludens-Users---2-Register.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Media-Slider-Bootstrap-3-1.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Media-Slider-Bootstrap-3.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/MUSA_carousel-product-cart-slider-1.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/MUSA_carousel-product-cart-slider.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Newsletter-Subscription-Form.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Pretty-Product-List.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Reviews.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Search-Input-Responsive-with-Icon.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Steps-Progressbar.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/sticky-dark-top-nav.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Swipe-Slider-7.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Team-Boxed.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Testimonials.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Ultimate-Testimonial-Slider-BS5.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/User-Rating-F19690.css' %}">
    <link rel="stylesheet" href="{% static 'home/assets/css/Video-Responsive-YouTube.css' %}">
</head>

<body>
    <div class="container">
        {% if course_id == 0 %}
        <h1>Tạo khóa học</h1>
        {% else %}
        <h1>Chỉnh sửa khóa học</h1>
        {% endif %}

        <form id="course_creation_form" method="post" action="/course_creation/{{course_id}}" enctype="multipart/form-data">
            {% csrf_token %}
            <span>Chọn video giới thiệu:&nbsp;</span>
            <input class="course_introduce_video" name="course_introduce_video" type="file">
            <br>File cũ
            <p href="{{course_info.url}}">{{course_info.url}}</p>
            <p style="margin-bottom: 0px;">Nhập tên khóa học:</p>
            <input value="{{course_info.course_name}}"  name="course_name" type="text" placeholder="Nhập tên khóa học của bạn" style="width: 100%;padding-top: 5px;padding-bottom: 5px;padding-right: 10px;padding-left: 20px;" value="">
            <p style="margin-bottom: 0px;">Nhập nội dung khóa học:</p>
            <textarea name="course_content" style="width: 100%;height: 100px;padding-left: 20px;" placeholder="Nhập nội dung khóa học">{{course_info.course_content}}</textarea>
            <p style="margin-bottom: 0px;">Nhập nội Mục tiêu khóa học:</p>
            <textarea name="course_goal" style="width: 100%;height: 100px;padding-left: 20px;" placeholder="Nhập mục tiêu khóa học">{{course_info.course_goal}}</textarea>
            <p style="margin-bottom: 0px;">Nhập nội yêu cầu khóa học:</p>
            <textarea name="course_requirement" style="width: 100%;height: 100px;padding-left: 20px;" placeholder="Nhập yêu cầu khóa học">{{course_info.course_requirement}}</textarea>
            <p style="margin-bottom: 0px;">Nhập giá tiền khóa học:</p>
            <input type="number" name="course_price" value="{{ course_info.course_price }}">
            {% if course_id == 0 %}
            <input style="display: none;" name="action" value="create">
            {% else %}
            <input style="display: none;" name="action" value="edit">
            {% endif %}
            
            <div>
                <p style="margin-bottom: 0px; font-size: 20px;">Chọn trình độ khóa học</p>
                <div style="width: 100%; overflow-y: scroll;"> 
                    <div>
                        {% for el in level_list %}
                        <p style="margin: 0; display: inline-block; margin-left: 5px;">
                            {% if el.status == 1 %}
                            <input type="checkbox" checked value="{{ el.value }}"  name="level">
                            {% else %}
                            <input type="checkbox" value="{{ el.value }}"  name="level">
                            {% endif %}
                            <label for="level">{{ el.value }}</label>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <span>** Khác: </span><input type="text" name="level" >
            </div>
            <div>
                <p style="margin-bottom: 0px; font-size: 20px;">Chọn danh mục khóa học</p>
                <div style="width: 100%; overflow-y: scroll;"> 
                    <div>
                        {% for el in category_list %}
                        <p style="margin: 0; display: inline-block; margin-left: 5px;">
                            {% if el.status == 1 %}
                            <input type="checkbox" checked value="{{ el.value }}"  name="category">
                            {% else %}
                            <input type="checkbox" value="{{ el.value }}"  name="category">
                            {% endif %}
                            <label for="category">{{ el.value }}</label>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <span>** Khác: </span><input type="text" name="category" >
            </div>
            <div>
                <p style="margin-bottom: 0px; font-size: 20px;">Chọn chủ đề khóa học</p>
                <div style="width: 100%; overflow-y: scroll;"> 
                    <div>
                        {% for el in topic_list %}
                        <p style="margin: 0; display: inline-block; margin-left: 5px;">
                            {% if el.status == 1 %}
                            <input type="checkbox" checked value="{{ el.value }}"  name="topic">
                            {% else %}
                            <input type="checkbox" value="{{ el.value }}"  name="topic">
                            {% endif %}
                            <label for="topic">{{ el.value }}</label>
                        </p>
                        {% endfor %}
                    </div>
                </div>
                <span>** Khác: </span><input type="text" name="topic" >
            </div>

        </form>
        <br>
        {% if course_id == 0 %}
        <button onclick="submitForm()" class="btn btn-primary" type="button">Thêm khóa học</button>
        {% else %}
        <button onclick="submitForm()" class="btn btn-primary" type="button">Chỉnh sửa</button>
        <a class="btn btn-primary" href="/teacher_part/{{course_id}}">Quản lí chương học</a>
        {% endif %}
        <a class="btn btn-primary" href="/teacher_course">Trở về</a>
        <p style="color: red;">{{alert}}</p>
    </div>
    <script src="{% static 'home/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'home/assets/js/--mp---Multiple-items-slider-responsive-1.js' %}"></script>
    <script src="{% static 'home/assets/js/--mp---Multiple-items-slider-responsive.js' %}"></script>
    <script src="{% static 'home/assets/js/Accordion-3338arvorept.js' %}"></script>
    <script src="{% static 'home/assets/js/Counting.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js&quot; type=&quot;text/javascript"></script>
    <script src="{% static 'home/assets/js/Lightbox-Gallery.js' %} "></script>
    <script src="{% static 'home/assets/js/Media-Slider-Bootstrap-3.js' %} "></script>
    <script src="{% static 'home/assets/js/Swipe-Slider-7.js' %} "></script>
    <script src="{% static 'home/assets/js/Ultimate-Testimonial-Slider-BS5.js' %} "></script>
</body>
<script>
    video = document.querySelector('input.course_introduce_video')
    function submitForm(){
        document.forms['course_creation_form'].submit();
    }
</script>
</html>