<!DOCTYPE HTML>
<html>
<head>  
<script type="text/javascript">
window.onload = function () {

var rating_chart = new CanvasJS.Chart("rating_chartContainer", {
	animationEnabled: true,
	title:{
		text: "Top course rating"
	},
    axisX: {
		title: "Rating",
	},
	axisY: {
		title: "Quanity of rating",
		includeZero: true,
        interval:1,
	},
	legend: {
		cursor:"pointer",
		itemclick : toggleDataSeries
	},
	toolTip: {
		shared: true,
		content: toolTipFormatter
	},
	data: 
    [
        {% for el in course_list %}
            {
                type: "bar",
                showInLegend: true,
                name: "{{ el.name}}",
                // color: "gold",
                dataPoints: [
                    { y: {{el.star_dict.1}}, label: "Một sao" },
                    { y: {{el.star_dict.2}}, label: "hai sao" },
                    { y: {{el.star_dict.3}}, label: "ba sao" },
                    { y: {{el.star_dict.4}}, label: "bốn sao" },
                    { y: {{el.star_dict.5}}, label: "năm sao" },
                ]
            },
        {% endfor %}
    ]
});
rating_chart.render();
function toolTipFormatter(e) {
	var str = "";
	var total = 0 ;
	var str3;
	var str2 ;
	for (var i = 0; i < e.entries.length; i++){
		var str1 = "<span style= \"color:"+e.entries[i].dataSeries.color + "\">" + e.entries[i].dataSeries.name + "</span>: <strong>"+  e.entries[i].dataPoint.y + "</strong> <br/>" ;
		total = e.entries[i].dataPoint.y + total;
		str = str.concat(str1);
	}
	str2 = "<strong>" + e.entries[0].dataPoint.label + "</strong> <br/>";
	str3 = "<span style = \"color:Tomato\">Total: </span><strong>" + total + "</strong><br/>";
	return (str2.concat(str)).concat(str3);
}
function toggleDataSeries(e) {
	if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	rating_chart.render();
    }

var view_chart = new CanvasJS.Chart("view_chartContainer", {
	animationEnabled: true,
	title:{
		text: "Course Views",
		horizontalAlign: "left"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent%",
		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
		dataPoints: [
            {% for el in view_list %}
			{ y: {{el.views}}, label: "{{el.course_name}}" },
            {% endfor %}
		]
	}]
});
view_chart.render();

var enroll_chart = new CanvasJS.Chart("enroll_chartContainer", {
	animationEnabled: true,
	title:{
		text: "Enroll quantity",
		horizontalAlign: "left"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #percent%",
		toolTipContent: "<b>{label}:</b> {y} (#percent%)",
		dataPoints: [
            {% for el in enrollment_list %}
			{ y: {{el.enrollments}}, label: "{{el.course_name}}" },
            {% endfor %}
		]
	}]
});
enroll_chart.render();

var sentiment_chart = new CanvasJS.Chart("sentiment_chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Positive Sentiment Percentage"
	},
	axisY: {
		title: "Percentage",
        maximum:1,
		minimum:0,
		interval:0.1,
	},
    axisX: {
		title: "Courses"
	},
	data: [{        
		type: "column",  
		showInLegend: true, 
		legendMarkerColor: "grey",
		legendText: "MMbbl = one million barrels",
		dataPoints: [      
            {% for key, value in  sentiment_percentage_dict.items %}
                { y: {{value}}, label: "{{key}}" },
            {% endfor %}

		]
	}]
});
sentiment_chart.render();
}
</script>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>simplecode</title>
<link rel="stylesheet" href="{% static 'home/assets/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
<link rel="stylesheet" href="{% static 'home/assets/css/FontAwesome.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
<link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/fonts/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/fonts/fontawesome5-overrides.min.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/--mp---Multiple-items-slider-responsive.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/4-Col-Small-Slider.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/404-NOT-FOUND-animated.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Accordion-3338arvorept-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Accordion-3338arvorept.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Accordion.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/best-carousel-slide-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/best-carousel-slide.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Brands.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/circle-progress-bar.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Features-Clean.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Footer-Dark.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Header-Blue.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Highlight-Phone.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="{% static 'home/assets/css/Lightbox-Gallery.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Ludens-Users---1-Login.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Ludens-Users---2-Register.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Media-Slider-Bootstrap-3-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Media-Slider-Bootstrap-3.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/MUSA_carousel-product-cart-slider-1.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/MUSA_carousel-product-cart-slider.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Navigation-with-Button.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Newsletter-Subscription-Form.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Pretty-Product-List.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Reviews.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Search-Input-Responsive-with-Icon.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Steps-Progressbar.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/sticky-dark-top-nav.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Swipe-Slider-7.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Team-Boxed.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Testimonials.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Ultimate-Testimonial-Slider-BS5.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/User-Rating-F19690.css' %}">
<link rel="stylesheet" href="{% static 'home/assets/css/Video-Responsive-YouTube.css' %}">
</head>
<body>

<a href="/teacher" style="display: block;" class="btn btn-primary">Quay về</a>

<div id="rating_chartContainer" style="height: 370px; width: 100%;"></div>
<div id="view_chartContainer" style="height: 370px; width: 100%;"></div>
<div id="enroll_chartContainer" style="height: 370px; width: 100%;"></div>
<div id="sentiment_chartContainer" style="height: 370px; width: 100%;"></div>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>